.shop_section .heading_container {
    margin-bottom: 20px;
  }
  
  .shop_section .box {
    background-color: yellow;
    position: relative;
    padding: 10px 15px;
    margin-top: 25px;
    border-radius: 15px;
    overflow: hidden;
  }
  
  .shop_section .box a {
    color: #000000;
  }
  
  .shop_section .box .img-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 15px 30px;
    height: 245px;
  }
  
  .shop_section .box .img-box img {
    max-width: 100%;
    max-height: 175px;
  }
  
  .shop_section .box .detail-box {
    border-top: 1px solid gray;
    padding-top: 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  
  .shop_section .box .detail-box h6 span {
    color: #3b4a6b;
    font-weight: 600;
  }
  
  .shop_section .box .new {
    padding: 7px 15px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #f0d43a;
    color: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 15px;
  }
  
  .shop_section .btn-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 45px;
  }
  
  .shop_section .btn-box a {
    display: inline-block;
    padding: 10px 50px;
    background-color: #f0d43a;
    color: #ffffff;
    border-radius: 5px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border: 1px solid #f0d43a;
  }
  
  .shop_section .btn-box a:hover {
    color: #ffffff;
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
  }