<!-- our furniture section start -->
<div class="our_section_2">
    <div class="images_section_2">
        <div class="row">
            <div class="col-sm-4">
                <div class="image_6"><img src="assets/images/img-6.png"></div>
            </div>
            <div class="col-sm-4">
                <div class="image_6"><img src="assets/images/img-7.png"></div>
            </div>
            <div class="col-sm-4">
                <div class="image_6"><img src="assets/images/img-8.png"></div>
            </div>
        </div>
    </div>
</div>
<!-- our furniture section end -->
