<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Products Cart</h1>
     </div>
</section>

<div class="container mb-4">
    <div *ngIf="cartItems.length === 0" class="alert alert-info">Your Cart is Empty.</div>
    <div class="row">
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col" class="text-right"> </th>
                            <th scope="col" >Product</th>
                            <th scope="col" class="text-right">Quantity</th>
                            <th scope="col" class="text-right">Unit Price</th>
                            <th scope="col" class="text-right">Sub Total</th>
                            <th scope="col" class="text-right">Remove</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="cartItems.length > 0">
                        <tr *ngFor="let item of cartItems">
                            <td class="text-right"><img [src]="item.image" style="width: 35px;"/> </td>
                            <td class="text-right">{{ item.name }}</td>
                            <td class="text-right">
                                <input class="input-product" type="number" min="1" [(ngModel)]="item.quantity" name="{{item.quantity}}" (change)="updateProductCart(item)" />
                            </td>
                            <td class="text-right">{{ (item.price) | currency:'INR' }}</td>
                            <td class="text-right">{{ (item.quantity * item.price) | currency:'INR' }}</td>
                            <td class="text-right"><button class="btn btn-sm btn-danger"(click)="removeFromCart(item.id)"><img src="assets/images/deletIcon.png"/> </button> </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><strong>Total</strong></td>
                            <td class="text-right"><strong>{{ cartTotal | currency:'INR' }}</strong></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col mb-2">
            <div class="row">
                <div class="col-sm-12  col-md-6">
                    <button class="btn btn-block btn-light" [routerLink]="['/products']">Continue Shopping</button>
                </div>
                <div class="col-sm-12 col-md-6 text-right">
                    <button class="btn btn-lg btn-block btn-success text-uppercase" (click)="CheckOut()">Checkout</button>
                </div>
            </div>
        </div>
    </div>
</div>